.main{
    background-color: #52ACFF;
background-image: linear-gradient(180deg, #52ACFF 6%, #FFE32C 92%);

}

.images{
background-image: url(images/ocean2.gif);
background-size: cover;
}

.words{
    color: White;
}
.barbados{
    background-image: url(images/beach.gif);
    background-size: cover;
}