body{
    background-image: url(design.png);
    background-size: cover;
    font-family: 'Cinzel', serif;
}

.left{
    text-align: left;
    padding-left: 3%;
    padding-top: 15%;
}
.left1{
    text-align: left;
    padding-left: 3%;
}

.right{
    text-align: right;
    padding-right: 4%;
}
.right1{
    text-align: right;
    padding-right: 4%;
    
}

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }

  /* Blue */
.info {
    margin-left: 4%;
    box-align: left;
    padding-right: 6%;
    border-color: #2196F3;
    color: dodgerblue
  }
  
  .info:hover {
    background: #2196F3;
    color: white;
  }
  /* Orange */
.warning {
    box-align: right;
    margin-left: 80%;
    padding-left: 4%;
    border-color: #ff9800;
    color: orange;
  }
  
  .warning:hover {
    background: #ff9800;
    color: white;
  }